<ion-header>
  <ion-toolbar>
    <ion-title>Liste Des Séries</ion-title>
    <button ion-button incon-only large slot="secondary" style="font-size: 1.7em" (click)="hideSearchBar($event)" ><ion-icon name="search"></ion-icon></button>
  </ion-toolbar>
</ion-header>
  
<ion-searchbar *ngIf="displaySearchBar"
  [(ngModel)]="searchTitle"
  (ionChange)="getInfoSeries()"
  placeholder="Rechercher une série">
</ion-searchbar>

<ion-content padding>
  <ion-list *ngIf="findSeries">
    <div *ngFor="let infoSeries of allInfoSeries">
      <ion-card padding>
        <p>{{infoSeries.Title}}</p>
        <p>Année de sortie : {{infoSeries.Year}}</p>
        <p>Type : {{infoSeries.Type}}</p>

      <div *ngIf="infoSeries.Poster == 'N/A', else elseDisplayPoster">
        <p>Ce film n'a pas d'affiche</p>
      </div>
      <ng-template #elseDisplayPoster>
        <div (click)="envoisDetail(infoSeries.imdbID)">
          <img src={{infoSeries.Poster}} alt={{infoSeries.Title}}>
        </div>
      </ng-template>
    </ion-card>
    </div>
  </ion-list>
  <ion-infinite-scroll *ngIf="nbPage <= 100" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Chargement des autres films">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
  
