<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="backPage()"></ion-back-button>
    </ion-buttons>
    <ion-toolbar>
      <ion-title *ngIf="titleSerie && season && episode">Details {{titleSerie}} season {{season}} episode {{episode}}</ion-title>
    </ion-toolbar>
    <ion-buttons slot="secondary">
      <button ion-button class="star" (click)=toggleFavorite()>
          <ion-icon [name]="isFavorite ? 'star':'star-outline'" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-content padding *ngIf="detailEpisode">          
    <p><strong>Title</strong> : {{detailEpisode.Title}}</p>
    <p><strong>Released</strong> : {{detailEpisode.Released}}</p>
    <p><strong>Runtime</strong> : {{detailEpisode.Runtime}}</p>
    <p><strong>Plot</strong> : {{detailEpisode.Plot}}</p>
    <p><strong>imdbRating</strong> : {{detailEpisode.imdbRating}} / <strong>imdbVotes</strong> : {{detailEpisode.imdbVotes}}</p>
  </ion-content>
</ion-content>
