ion-card {
    font-size: 1.25em;
    display: inline-block;
    background: #2c3e50;
    color: #FFF;
    padding: .5em;
    border-radius: 5px;
    margin: .25em;
    cursor: pointer;
}
p {
    margin: 0;
}