<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-toolbar>
      <ion-title *ngIf="detailsSeason && season">Details {{detailsSeason.Title}} season {{season}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="detailsSeason" >
    <ion-card *ngFor="let Episode of detailsSeason.Episodes" (click)="envoisDetailEpisode(Episode.Episode)">
        <p>Episode {{Episode.Episode}}</p>
    </ion-card>
  </ion-list>
</ion-content>
