ion-card{
    display: inline-grid;
    max-width: 30em;
    min-width: 20em;
}

.info img{
    z-index:1;
    border-radius: 10px;
    width: 100%;
    height: auto;
    border: 1px solid black;
}

img:hover{
    opacity: 0.7;
}

.info p {
    position:absolute;
    top:60%;
    padding: 5% 2%;
    width:70%; 
    color: white;
    z-index:2;
    border: 1px solid black;
    border-radius: 5%;
    background-color: rgba(0,0,0,.5);
    text-align: center;
}